
.vertical-tabs {
    display: flex;
    min-height: calc(100vh - 140px);
}

.vertical-tab-list {
    width: 200px;
    background: #f8f8f8;
    border-bottom: 1px solid #d5d6d9 !important;
    border-left: 1px solid #d5d6d9 !important;
}

.vertical-tab-list .tab__item {
    display: block;
}

.vertical-tabs .tab-conetnt {
    flex: 1;
    position: relative;
    padding-bottom: 70px;
}

.vertical-tabs .section__title span {
    border-right: 0;
    border-left: 0;
}

.vertical-tabs .form-action-buttons {
    border: none;
    border-top: 1px solid #d5d6d9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.vertical-tabs textarea.form-element {
    height: 85px;
    resize: none;
    padding: 6px;
}

.vertical-tabs .form-control {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.vertical-tabs .flex--item {
    flex: inherit;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
}

.form--wrapper.vertical-tabs .flex-row {
    align-items: flex-start;
    flex-wrap: wrap;
}

.form--wrapper.vertical-tabs .form-control>label {
    font-weight: normal;
    min-width: 150px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0;
    max-width: 150px;
    align-self: center;
}

.country-view {
    width: 335px;
    margin-left: 10px;
    align-self: center;
    display: flex;
    align-items: CENTER;
}

.inner-row {
    flex: 1;
    flex-direction: row;
    display: FLEX;
}

.vertical-tabs .switch-field label {
    display: inline-block;
    width: 90px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    height: auto;
    line-height: 1;
}