<div class="wrapper">
  <app-header></app-header>

  <div class="content-area">

    <app-sidenav></app-sidenav>

    <div class="page-content">

      <div class="titlebar">
        <div class="title_name">
          <i class="fa fa-list" aria-hidden="true"></i> {{title}}
        </div>
      </div>

      <div class="form-wrapper">
        <div class="form--row">
          <div class="form-item">
            <label class="label">Item Code</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
          <div class="form-item">
            <label class="label">Item Barcode</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
          <div class="form-item">
            <label class="label">Item Name</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
        </div>

        <div class="form--row">
          <div class="form-item">
            <label class="label">Item Print Name</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
          <div class="form-item">
            <label class="label">Item Dispalay Name</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
          <div class="form-item">
            <label class="label">Item Short Name</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
        </div>

        <div class="form--row">
          <div class="form-item">
            <label class="label">Sub Category Name</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
          <div class="form-item">
            <label class="label">Receipt Name</label>
            <div class="form-field">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
          <div class="form-item">
            <label class="label">M R P</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
        </div>

        <div class="form--row">
          <div class="form-item">
            <label class="label">Item Cost</label>
            <div class="form-field mandatory">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
          <div class="form-item">
            <label class="label">Distributor Price</label>
            <div class="form-field">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
          <div class="form-item">
            <label class="label">Point Value</label>
            <div class="form-field">
              <input type="text" [(ngModel)]="queryString" class="form-field--item" id="search" placeholder="Search to type">
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button (click)="onClickMe()" class="btn btn-success ">
            <span>Search</span>
          </button>
        </div>
        <div class="filter-data">
          <div class="filter-heading">Items List</div>
          <ul class="filter-list">
            <li class="filter-list__item" *ngFor="let n of names | FilterPipe: queryString">
              {{n}}
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>