<!--header start-->
<div class="header">
    <div class="data-container">
        <div class="flex-row">
            <div class="logo">
                <img src="assets/images/logo.png" />
            </div>
            <div class="search">
                <form>
                    <input type="text" placeholder="Search Here">
                    <button type="submit" class="search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="form--row" style="margin-bottom: 0px">
                <div class="flex--item">
                    <div class="form-contorl horizontal">
                    </div>
                </div>
                <div class="header-right">
                    <ul class="user-options">
                        <li style="display: flex;align-items: center;">
                            <span>
                                <img src="{{flag}}" style="width:40px;height: 30px;margin-right: 25px;">
                            </span>
                            <select id="lang" class="input-element" (change)="selectLanguage($event)">
                                <option value="en">INDIA</option>
                                <option value="ch">China </option>
                                <option value="ne">Nepal </option>
                                <option value="ar">Dubai </option>
                            </select>
                        </li>
                        <li class="user-option-list location">
                            <div class="current-location" [class.location--open]="isLocActive" (click)="OpenLocation()">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="location__name">AALO MI</span>
                            </div>
                            <div class="location-box">
                                <div class="location-header">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span>Choose your location</span>
                                </div>
                                <div class="location-content">
                                    <!-- Cities-->
                                    <div class="cities">
                                        <ul class="cities-list">
                                            <li class="city-name">
                                                <div class="city-image">
                                                    <img src="assets/images/delhi.png" alt="Delhi">
                                                </div>
                                                <span>Delhi</span>
                                            </li>
                                            <li class="city-name">
                                                <div class="city-image">
                                                    <img src="assets/images/mumbai.png" alt="Mumbai">
                                                </div>
                                                <span>Mumbai</span>
                                            </li>
                                            <li class="city-name">
                                                <div class="city-image">
                                                    <img src="assets/images/agra.png" alt="Agra">
                                                </div>
                                                <span>Agra</span>
                                            </li>
                                            <li class="city-name">
                                                <div class="city-image">
                                                    <img src="assets/images/pune.png" alt="Pune">
                                                </div>
                                                <span>Pune</span>
                                            </li>
                                            <!--                                           <li class="city-name">
                                          <div class="city-image">
                                              <img src="assets/images/kolkata.png" alt="Kolkata">
                                          </div>
                                          <span>Kolkata</span>
                                      </li> -->
                                            <li class="city-name">
                                                <div class="city-image">
                                                    <img src="assets/images/gurgaon.png" alt="gurgaon">
                                                </div>
                                                <span>Gurgaon</span>
                                            </li>
                                            <li class="city-name">
                                                <div class="city-image">
                                                    <img src="assets/images/noida.png" alt="Noida">
                                                </div>
                                                <span>Noida</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Cities End-->
                                    <div class="your-city">
                                        <div class="your-city--inner">
                                            <div class="city-box">
                                                <form class="">
                                                    <input list="browsers" name="browser" class="selectbox" placeholder="Choose Your location" value="AALO MI">
                                                    <datalist id="browsers">
                                                        <option value="AALO MI"></option>
                                                        <option value="AALO DE"></option>
                                                        <option value="Aligarh"></option>
                                                        <option value="Indore"></option>
                                                        <option value="Mathura"></option>
                                                    </datalist>
                                                    <button type="submit" class="city__submit">
                                                        <i class="fa fa-send-o"></i> Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="user-option-list notification">
                            <div class="notificationa-alert" [class.notification--open]="isNotificationActive" (click)="OpenNotifications()">
                                <span class="alert__count">5</span>
                                <i class="fa fa-bell-o" aria-hidden="true"></i>
                            </div>
                            <!--notification box-->
                            <div class="notification-listbox">
                                <div class="notification-header">
                                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                                    <span>Notifications</span>
                                </div>
                                <ul class="notification-list">
                                    <li class="notification-list--item">
                                        <div class="notification-image">
                                            <img src="assets/images/avtar.jpg" alt="">
                                        </div>
                                        <div class="notification-details">
                                            <div>
                                                <span class="notification__username">Dear All</span>
                                                Today is last day of Consistency
                                            </div>
                                            <p class="notification-time">
                                                <small>Scheme</small>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="notification-list--item">
                                        <div class="notification-image">
                                            <img src="assets/images/avtar.jpg" alt="">
                                        </div>
                                        <div class="notification-details">
                                            <div>
                                                <span class="notification__username">SP Singh</span>
                                                liked your post
                                            </div>
                                            <p class="notification-time">
                                                <small>5 mins ago</small>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="notification-list--item">
                                        <div class="notification-image">
                                            <img src="assets/images/avtar.jpg" alt="">
                                        </div>
                                        <div class="notification-details">
                                            <div>
                                                <span class="notification__username">Rajiv Shukla</span>
                                                liked your post
                                            </div>
                                            <p class="notification-time">
                                                <small>5 mins ago</small>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="notification-footer">
                                    <a href="#">View All Notifications
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <!--notification box end-->
                        </li>
                        <li class="user-option-list profile">
                            <div class="user-profile" [class.userbox--open]="isUserActive" (click)="OpenUser()">
                                <img src="assets/images/avtar.jpg" />
                                <div class="user-detail">
                                    <div class="user__name">User Name</div>
                                    <div class="user__role">User Role</div>
                                </div>
                            </div>
                            <div class="user-profile-box">
                                <div class="user-box--item">
                                    <a href="">
                                        <i class="fa fa-cog"></i>
                                        <span>Setting</span>
                                    </a>
                                </div>
                                <div class="user-box--item">
                                    <a href="">
                                        <i class="fa fa-user"></i>
                                        <span>My Profile</span>
                                    </a>
                                </div>
                                <div role="separator" class="divider"></div>
                                <div class="user-box--item">
                                    <a href="#">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--header end-->
