<div class="wrapper">
    <!--header start-->
    <app-header></app-header>
    <!--header end-->
    <div class="content-area">
        <!-- sidenav start-->
        <app-sidenav></app-sidenav>
        <!-- sidenav end-->
        <div class="page-content">
            <!--Titlebar-->
            <div class="titlebar">
                <div class="title_name">
                    Item List
                </div>
                <div class="page-actions">
                    <ul class="action-list">
                        <li class="action-item">
                            <a routerLink="/add-item" routerLinkActive="active">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span class="action__name">Add New Item</span>
                            </a>
                        </li>
                        <li class="action-item">
                            <a href="#">
                                <i class="fa fa-print"></i>
                                <span class="action__name">Print List</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Titlebar End-->
            <div class="data-list">
                <div class="list--header">
                        
                                
                    <span class="location__heading">
                        <i class="fa fa-cube"></i> Items </span>
                       
                    <div class="searchby">
                        <Select>
                            <option>Category Type</option>
                            <option>Ayurveda</option>
                            <option>Air Purifier</option>
                            <option>Oral Care</option>
                            <option>Personal Care</option>
                        </Select>
                        <Select>
                            <option>Product Type</option>
                            <option>General</option>
                            <option>Standard</option>
                        </Select>
                        <label>Show <select name="example_length" aria-controls="example" class="">
                                <option value="10">10</option><option value="25">25</option>
                                <option value="50">50</option><option value="100">100</option></select> entries</label>
                    
                    <div>
                    <label>Search:<input type="text" class="" placeholder="" >
                    </label>
                </div>
                </div>
                
             </div>
             <table datatable >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                  <tr >
                    <td>1080</td>
                    <td>rishi</td>
                    <td>kumar</td>
                  </tr>
                </tbody>
                </table>
            </div>
        </div>