.page-content {
    font-size: 14px;
}

.action-list {
    display: flex;
}

.action-item {
    margin-left: 15px;
    text-align: center;
}

.action-item i {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.action__name {
    display: block;
    margin-top: 5px;
    color: #0a4d8a;
}

/***********Common Css************/

.pos-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pos-sidebar {
    width: 400px;
}

.user-info {
    display: flex;
    margin-bottom: 16px;
}

.sidebar-widget {
    padding: 12px;
    border: 1px solid #e0e1e4;
    width: 100%;
    background: white;
    margin-right: 12px;
}

.sidebar-widget:last-child {
    margin-right: 0;
}

.form-elements {
    position: relative;
    display: flex;
    flex: 1;
}

.icon {
    width: 40px;
    background: #ffffff;
    text-align: center;
    height: 35px;
    color: #0a4f8d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #d5d6d9;
    border-right: 0;
}

.icon+.input-element {
    border-left: none;
}

.form--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ;
    margin-bottom: 14px;
}

.form--row:last-child {
    margin-bottom: 0;
}

.label {
  text-transform: capitalize;
  color: #0a4d8a;
  display: block;
  font-size: 14px;
  min-width: 85px;
  margin-bottom: 0;
  text-align: right;
  max-width: 85px;
  margin-right: 5px;
}

.label.value {

    color: black;
    min-width: inherit;
    max-width: inherit;
    align-self: self-start;
    text-align: left;
}

.flex--items {
    flex: 1;
}

.form-item--full {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
}

.form-contorl.horizontal {
    display: flex;
    align-items: flex-start;
}

.input-element {
    border: 1px solid #d5d6d9;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #333;
    height: 35px;
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 13px;
    line-height: 1.42857143;
}

textarea {
    border: 1px solid #d5d6d9;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #333;
    height: 60px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.sidebar-heading {
    margin-left: -12px;
    margin-right: -12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-size: 15px;
    border-bottom: 1px solid #d5d6d9;
    margin-bottom: 12px;
    line-height: 1;
    background: #f9fbfc;
    margin-top: -12px;
    padding-top: 12px;
    font-weight: 600;
}

.form--row.schemes {
    justify-content: flex-start;
    margin-bottom: -12px;
}

.scheme-item {
    padding: 8px 12px;
    background: #f9fbfc;
    margin: 0 10px 10px 0px;
    font-size: 13px;
    border: 1px solid #d5d6d9;
    border-radius: 3px;
    cursor: pointer;
}

.scheme-item button {
    border: 0;
    padding: 0;
    background: none;
}

.radio {
    margin-left: 10px;
}
.radio:first-child {
  margin-left: 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #0a4d8a;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pos-content {
    flex: 1;
    margin-right: 16px;
}

.item-serachbar {
    background: #f9fbfc;
    padding: 12px;
    border: 1px solid #e0e1e4;
}

.search-inner {
    display: flex;
    position: relative;
}

.search-inner .icon {
    height: 50px;
}

.searchbox {
    flex: 1;
}

.input-searchbox {
    border: 1px solid #d5d6d9;
    border-left: 0;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #333;
    height: 50px;
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    line-height: 1.42857143;
}

.qty {
    width: 170px;
    margin-left: 10px;
}

.suggestion-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.suggestion-list {
    background: WHITE;
    border: 1px solid #d5d6d9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
    border-top: 0;
    max-height: 200px;
    overflow-y: auto;
}

.suggested-item {
    display: flex;
    padding: 5px 10px;
    border-bottom: 1px solid #d5d6d9;
    justify-content: space-between;
    align-items: center;
}

.left-part,
.right-part {
    display: flex;
    justify-content: space-between;
    align-items: CENTER;
}

.item-image {
    width: 30px;
    margin-right: 15px;
}

.item-qty {
    width: 80px;
    margin-right: 15px;
    display: FLEX;
    align-items: center;
}

.item-qty label {
    background: #f9fbfc;
    border: 1px solid #d7dce5;
    height: 24px;
    line-height: 22px;
    padding: 0 5px;
    font-weight: 600;
    color: #333;
    border-right: 0;
}

input.qty__box {
    width: 100%;
    height: 24px;
    border: 1px solid #e0e1e4;
    padding: 0 6px;
}

button.add {
    background: #2070b7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.item__catgeory {
    font-size: 11px;
    margin-bottom: 3px;
    color: #1863a7;
    font-weight: 600;
}

span.item__name {
    font-size: 13px;
    color: #333;
}

.pos-grid {
    display: flex;
    background: white;
    border: 1px solid #e0e1e4;
    border-top: none;
}

.catgory-listbox {
    width: 150px;
    background: #f9fbfc;
}

.category-listitem {
    height: 40px;
    align-items: CENTER;
    justify-content: left;
    display: flex;
    background: #f9fbfc;
    color: #333;
    border-bottom: 1px solid #d7dce5;
    border-right: 1px solid #d7dce5;
    padding-left: 10px;
    cursor: pointer;
    font-size: 13px;
}

.category-listitem:last-child {
    border-bottom: 0;
}

.product-box {
    flex: 1;
    padding: 16px;
    border-left: 1px solid #e0e1e4;
    margin-left: -1px;
}

.product-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid .product-item {
    background: white;
}

.product-item {
    background: #f1ffec;
    padding: 14px 8px;
    border: 1px solid #d4e6ce;
    margin-bottom: 10px;
    width: 24%;
    cursor: pointer;
    text-align: center;
}

.product-item:hover {
    background: #f1ffec;
}

.product__shortname {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 600;
}

.product__stock {
    margin-left: 6px;
}

.pos-sidebar .item-serachbar {
    margin-top: 16px;
    margin-bottom: 2px;
}

.pos-sidebar .input-searchbox {
    height: 40px;
}

.pos-sidebar .search-inner .icon {
    height: 40px;
}

.item-table {
    margin: 0 0;
    background: white;
    border: 1px solid #e0e1e4;
    max-height: 300px;
    overflow-y: auto;
}

.table {
    width: 100%;
}

thead tr {
    background: #f9fbfc;
    border-bottom: 1px solid #d7dce5;
}

th {
    line-height: 35px;
    text-align: left;
    padding: 0 10px;
    font-weight: 600;
}

td {
    padding: 10px;
}

tbody tr {
    border-bottom: 1px solid #d7dce5;
}

.input-number {
    padding: 2px;
    border: none;
    border-bottom: 2px dotted #0d589b;
    width: 35px;
}

.amonut-details {
    display: flex;
    background: #f9fbfc;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.total-amount {
    width: 100%;
    background: white;
    padding: 14px;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    background: #0f62ac;
    background: linear-gradient(to right, #0a4d8a, #277bc5);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.product-amount,
.tax-amount {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-left: 1px solid #d7dce5;
    font-weight: 600;
}

.tax-amount {
    border-right: 1px solid #d7dce5;
}

.product-amount .right,
.tax-amount .right {
    font-size: 18px;
    font-weight: bold;
    color: #0e5392;
    margin-top: 5px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.btn {
    line-height: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    transition: all 0.5s;
    border: none;
    position: relative;
}

.btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(68, 49, 49, 0.5);
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.btn span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    color: white;
    height: 100%;
    top: 0;
    left: 0;
}

.btn-success {
    background: #0f62ac;
}

.btn-default {
    background: gainsboro;
    margin-left: 10px;
}

.btn-default span {
    color: #333;
}

/*********check out********/

.checkout {
    position: fixed;
    width: 60%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    top: 0;
    right: -100%;
    z-index: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.cover {
    height: 100%;
    padding: 292px 0 190px;
}

.checkout .back-btn {
    position: absolute;
    top: 20px;
    left: 35px;
    z-index: 2;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.checkout .content-top {
    position: absolute;
    top: 7.6822%;
    left: 3px;
    right: 3px;
    z-index: 2;
}

.checkout .total-top {
    font-size: 15px;
    color: #333;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-bar {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 53px 32px 0;
    margin: 0 -11px;
    text-align: center;
}

button.pay-type {
    position: relative;
    color: #333;
    padding: 10px;
    height: 70px;
    line-height: normal;
    background: #f9fbfc;
    border: 1px solid #d5d6d9;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(20% - 22px);
    margin: 0 11px;
    max-width: 143px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.icon-card {
    display: block;
    font-size: 22px;
    margin-bottom: 6px;
}

button.pay-type:hover {
    background: #0f62ac;
    cursor: pointer;
    color: white;
}

.checkout-table {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.checkout .content-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f9fbfc;
    padding: 28px 32px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d5d6d9;
}

.checkout .info-checkout {
    width: 48%;
    font-size: 14px;
}

.info-row {
    padding: 15px 0;
    border-bottom: 1px solid #d5d6d9;
    overflow: hidden;
}

.info-checkout .value {
    float: right;
    text-align: right;
}

.info-checkout .txt {
    float: left;
    width: 48%;
}

button.partial {
    border: none;
    height: 54px;
    line-height: 54px;
    letter-spacing: 0.5px;
    border-radius: 3px;
    width: 44%;
    background: white;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    background: #0f62ac;
    background: linear-gradient(to right, #0a4d8a, #277bc5);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.checkout .total-top .grand-total {
    top: 0;
    color: #4f4f4f;
    font-size: 25px;
    margin-left: 14px;
}

.checkout-row {
    border: 1px solid #d5d6d9;
    background: #f9fbfc;
}

.checkout-head {
    position: relative;
    padding: 16px 34px 16px 33px;
    min-height: 75px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gift-input {
    width: 100%;
    text-align: center;
    max-width: 340px;
    font-weight: lighter;
}

.gift-input input {
    width: 100%;
    height: 40px;
    padding-left: 6px;
    border: 1px solid #d5d6d9;
}

.gift-button {
    background: #0f62ac;
    color: white;
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.open-paybox .checkout {
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000003b;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.open-paybox .overlay {
    display: block;
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

.delete-item {
    background: none;
    border: none;
}

.view-mode {
    display: flex;
    justify-content: flex-end;
    margin-top: -5px;
    margin-bottom: 10px;
    align-items: CENTER;
}

.view-mode a {
    margin-left: 10px;
    color: #333;
    cursor: pointer;
}

.total__list {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.total__count {
    text-align: center;
    display: block;
    margin-top: 5px;
}

span.name {
    height: 16px;
    overflow: hidden;
    display: block;
}

.product__shortname img {
    height: 100px;
    width: auto;
    margin: 0 auto 10px;
}

.page-content {
    position: relative;
    transition: all .4s ease-in-out;
}

.page-content.open-paybox {
    right: 64.5%;
}

.notification-listbox,
.location-box,
.user-profile-box,
.language-box {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    z-index: 12;
    float: left;
    width: 350px;
    margin: 2px 0 0;
    margin: .125rem 0 0;
    font-size: 14px;
    font-size: .875rem;
    color: #333;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d5d6d9;
    border-radius: .25rem;
    display: block;
    margin: 0;
    margin-top: 17px;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: -webkit-transform .15s ease-out;
    -o-transition: transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out, -webkit-transform .15s ease-out;
}

.notification--open+.notification-listbox {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.language-box {
    width: 130px;
}

.location--open+.location-box {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.language-open .language-box {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.language_name {
    padding: 5px 10px;
    border-bottom: 1px solid #d5d6d9;
    cursor: pointer;
}
