
/**********Variables css************/
.flex{
    display: -webkit-flex;
    display: flex;
}
.flex-item{
    -webkit-flex: 1;
    -ms-flex: 1;   
    flex: 1;
}
/**********Variables css End************/