/**********reset css************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 14px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/**********reset css End************/

/*************Global css***********/

html,
body {
    width: 100%;
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.w-100 {
    width: 100%;
}

footer {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
}

.flex-row {
    display: flex;
    align-items: center;
}

a {
    color: #0f62ac;
}

/*************Global css  End***********/

/*************Login Page css***********/

.login-page {
    height: 100vh;
    width: 100%;
    display: flex;
}

.login-image {
    background: url(assets/images/loginbg1.jpg);
    background-size: cover;
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-position: center;
}
.login-image::after{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    content:'';
    background: #00000082;
}

.login-logo {
    position: absolute;
    left: 60px;
    top: 60px;
}

.login-logo img {
    width: 100px;
}

.login-content {
    padding: 0 40px;
    font-size: 22px;
    color: white;
    line-height: 1.6;
    position: relative;
    z-index: 1;
}

.read-more {
    margin-top: 15px;
}

.read-more .input-button {
    width: 150px;
    background: white;
}

.read-more .input-button span {
    color: #0f62ac;
    font-weight: 600;
}

.read-more .input-button::before {
    background-color: rgb(234, 229, 229);
}

.login-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    z-index: 1;
}

.footer-links {
    display: flex;
}
.footer-links li{
    margin-right: 10px;
}
.footer-links li a{
    color: white;
}
.login-privacy {
    color: white;
}
.login-formbox {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    width: 100%;
    padding: 60px;
}

.login-heading {
    color: #333333;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
}

.login-heading img {
    margin: 0 auto;
    width: 125px;
}

.input-group {
    margin-top: 25px;
    width: 100%;
    position: relative;
}

.form-control {
    border: 1px solid #ccc;
    padding: 0px 14px;
    transition: 0.4s;
    background: transparent;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    height: 40px;
}
.validation-error {
    top: 100%;
    position: ABSOLUTE;
    right: 0;
    color: red;
    font-size: 12px;
    margin-top: 4px;
}
.form-control~.focus-border:before,
.form-control~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0f62ac;
    transition: 0.3s;
}

.form-control~.focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.form-control~.focus-border i:before,
.form-control~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #0f62ac;
    transition: 0.4s;
}

.form-control~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.form-control:focus~.focus-border:before,
.form-control:focus~.focus-border:after,
.has-content.form-control~.focus-border:before,
.has-content.form-control~.focus-border:after {
    width: 100%;
    transition: 0.3s;
}

.form-control:focus~.focus-border i:before,
.form-control:focus~.focus-border i:after,
.has-content.form-control~.focus-border i:before,
.has-content.form-control~.focus-border i:after {
    height: 100%;
    transition: 0.4s;
}

.form-control~label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 13px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.
}

.form-control:focus~label,
.has-content.form-control~label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #0f62ac;
    transition: 0.3s;
}

.input-group.flex-row {
    justify-content: space-between;
}

/******button strat******/

.input-button {
    line-height: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: none;
    position: relative;
    background: #0f62ac;
    ;
}

.input-button a {
    text-decoration: none;
    display: block;
}

.input-button span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    color: white;
    height: 100%;
    top: 0;
    left: 0;
}

.input-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(68, 49, 49, 0.5);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.input-button:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

/******button end****/

.forgot a {
    color: red;
}

.social-login {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #cccccc;
    padding-top: 30px;
}

.social_text {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list_item {
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 1;
}

.social-list_item:hover {
    opacity: 0.6;
}

.twitter {
    background: #00aced;
}

.facebook {
    background: #44619d;
}

.social-list_item a {
    color: white;
}

.social-list_item i {
    margin-right: 5px;
}

/*************Inner Page css End***********/